@media (max-height: 736px) {
    body {
        background-image: image-set(
        url("../assets/images/bg8/bg1x.png") 1x,
        url("../assets/images/bg8/bg2x.png") 2x,
        url("../assets/images/bg8/bg3x.png") 3x
    );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main__title {
        margin: 0 1px 16px 0;
    }
    
    .main__advantages {
        margin: 0 25px 26px 24px;
    }
    
    .main__form {
        margin: 0 24px 28px 24px;
    }
    
    .main__footer {
        margin: 0 47px 38px 47px;
    }

    .form__cell--offset {
        margin-top: 0;
    }

    .main__footer {
        margin-bottom: 8px;
    }
}

@media (max-width: 375px) {
    .advantages__card {
        width: 106px;
        height: 139px;
    }
}