:root {
    --color-primary: #FFFFFF;
    --color-secondary: #070B33;
    --color-banner-selected: #141131;
    --color-grey: rgb(255,255,255,0.116);
    --color-grey-selected: rgb(255,255,255,0.324);
    --color-grey-link: rgb(255,255,255,0.302);
    --color-background: #05010E;

    --gradient-banner: linear-gradient(90deg, #BC1FEF, #0035FF);
    --gradient-banner-border: linear-gradient(-90deg, #00B5FF, #632AF7 53%, #FF96F4);
    --gradient-banner-stroke-left: linear-gradient(90deg, rgba(253, 148, 244, 0), rgba(253, 148, 244, 1));
    
}

@font-face {
    font-family: "SF Pro";
    src: url("../assets/fonts/SF-Pro-Display-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Thin";
    src: url("../assets/fonts/SF-Pro-Display-Thin.woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Bold";
    src: url("../assets/fonts/SF-Pro-Display-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Semibold";
    src: url("../assets/fonts/SF-Pro-Display-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Heavy";
    src: url("../assets/fonts/SF-Pro-Display-Heavy.woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--color-background);
    background-image: image-set(
        url("../assets/images/bg13/bg1x.png") 1x,
        url("../assets/images/bg13/bg2x.png") 2x,
        url("../assets/images/bg13/bg3x.png") 3x
    );
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
    font-weight: 400;
}

h1, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cross-btn {
    width: 24px;
    height: 24px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    margin: 0;
}

.main__title {
    margin-bottom: 24px;
    text-align: center;
}

.main__advantages {
    margin: 0 24px 34px 24px;
}

.main__form {
    margin: 0 24px 34px 24px;
}

.main__footer {
    margin: 0 55px 38px 54px;
}

.title {
    color: var(--color-primary);
    text-align: center;
    font-family: "SF Pro Heavy";
    font-size: 42px;
    line-height: 46px;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantages__card {
    width: 110px;
    height: 146px;
    position: relative;
}

.advantages__text {
    position: absolute;
    bottom: 12px;
    left: 9px;
    font-size: 12px;
}

.advantages__card--1 {
    background-image: image-set(
        url("../assets/images/cards/card1@1x.png") 1x,
        url("../assets/images/cards/card1@2x.png") 2x,
        url("../assets/images/cards/card1@3x.png") 3x
    );
}

.advantages__card--2 {
    background-image: image-set(
        url("../assets/images/cards/card2@1x.png") 1x,
        url("../assets/images/cards/card2@2x.png") 2x,
        url("../assets/images/cards/card2@3x.png") 3x
    );
}

.advantages__card--3 {
    background-image: image-set(
        url("../assets/images/cards/card3@1x.png") 1x,
        url("../assets/images/cards/card3@2x.png") 2x,
        url("../assets/images/cards/card3@3x.png") 3x
    );
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.purchase {
    position: relative;
}

.purchase__input--hidden {
    display: none;
}

.purchase__block {
    padding: 9px 56px 9px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    background-color: var(--color-grey);
}

.purchase__column {
    display: flex;
    flex-direction: column;

}

.purchase__input:checked + .purchase__block{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 8px 55px 8px 23px;
    background-color: var(--color-grey-selected);
    border: 1px solid var(--color-primary);
}

.purchase__title {
    font-size: 16px;
    font-family: "SF Pro Semibold";
    font-weight: 600;
}

.purchase__subtitle {
    opacity: 0.7;
}

.purchase__text {
    font-size: 16px;
    opacity: 0.7;
}

.purchase__banner{
    position: absolute;
    top: -0.5px;
    right: 0px;
    pointer-events: none;
}

.banner {
    display: flex;
    align-items: top;
}

.banner__left-stroke {
    display: block;
    width: 128px;
    height: 1px;
    background: url("../assets/images/path1.svg");
}

.banner__block {
    position: relative;
    top: -10px;
    width: 117px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: var(--gradient-banner), var(--gradient-banner-border);
    background-clip: content-box, border-box;
    background-origin: content-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Bold";
    font-weight: 700;
    font-size: 13px;
}

.banner__right-stroke {
    display: block;
    width: 24.5px;
    height: 27.78px;
    background: url("../assets/images/path2.svg");
}

.purchase__input:checked ~ .banner .banner__block{
    color: var(--color-banner-selected);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.purchase__input:checked ~ .banner .banner__left-stroke, 
.purchase__input:checked ~ .banner .banner__right-stroke {
    opacity: 0;
}
   
.form__cell--offset{
    margin-top: 8px;
}

.button--submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 28px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: "SF Pro Semibold";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    color: var(--color-primary);
    opacity: 0.3016;
    font-family: "SF Pro Thin";
    font-weight: 100;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
}